<?xml version="1.0"?>
<model>
  <name>custom_table</name>
  <version>1.0</version>
  <sdf version="1.6">custom_table.sdf</sdf>
  <author>
    <name>mr_tamp</name>
    <email>noreply@example.com</email>
  </author>
  <description>
    Custom table model with outer size 1.60 m x 0.80 m x 0.88 m (W x D x H).
  </description>
</model>
